.hero-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: calc(100vh + 100px);
    -webkit-box-align: center;
    background-image: url("../../../images/bgHero.png");
    background-position: center top;
    background-size: cover;
  }