.hero-container {
    overflow: hidden;
    position: relative;
    -webkit-box-align: center;
    background-image: url("../../../images/bgHero.png");
    background-position: center top;
    background-size: cover;
}  