.features-container {
    overflow: hidden;
    position: relative;
    -webkit-box-align: center;
    background-image: url("../../../images/bgFeatures.png");
    background-position: center center;
    background-size: cover;
} 