@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  // font-family: Inter, sans-serif !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  cursor: pointer;
}

/* Handle */
// Hide the scrollbar
// ::-webkit-scrollbar {
//   display: none;
// }

::-webkit-scrollbar-thumb {
  background: #6D55FC;
  cursor: default;
  border-radius: 28px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7339FD;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  border-radius: 100px;
}


